# ─── Flask ────────────────────────────────────────────────
FLASK_ENV=production
SECRET_KEY=PujoSecretKey@Dishaan2026!

# ─── Database ───────────────────────────────────────────────
DATABASE_URL=postgresql+psycopg://pujo_user:PujoPass2026@localhost:5433/pujo_db

# ─── JWT ──────────────────────────────────────────────────
JWT_SECRET_KEY=PujoJwtSecret@Dishaan2026!
JWT_ACCESS_TOKEN_EXPIRES_HOURS=8

# ─── First Admin (seeded on first run) ──────────────────────
ADMIN_NAME=Admin
ADMIN_EMAIL=admin@pujopay.local
ADMIN_PASSWORD=PujoAdmin@2026

# ─── Storage ─────────────────────────────────────────────────
PDF_STORAGE_PATH=/srv/pujo/recipet/storages/pdf

# ─── WhatsApp (Meta / Facebook Cloud API) ────────────────────
# Get these from Meta Business Manager → WhatsApp → API Setup
WHATSAPP_TOKEN= EAAh6ty3yMIMBSjYNMZBtVlwZBuZBmjFgrnvicxxvi7hZA9Yh1fUMFU21F2ZCwZBROvaHD5wv11zkGvoAakja18htaDT0Xu1GOXordC7SYtm57y0lDESmr4hHNaZAzL1etFg5RW9mZARNlZCno8SPOQZCJ2s8g5A9GKxoXvsTXcdiyzh2b2h25NCe3cVnFEgzxIuaFOYwZDZD          # permanent access token
WHATSAPP_PHONE_NUMBER_ID=1308933112312547
